body {
	 background-color: #ADD8E6;;
}

h1 {
	text-align: center;
}


.title-background {
    background-image: url('file:///C:/Users/jesse/OneDrive/Desktop/Meme/Screenshot%202025-01-22%20173611.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 36px;
}
